<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Web Project Week 3</title>
	<link href='http://fonts.googleapis.com/css?family=Poller+One' rel='stylesheet' type='text/css'>
	<!-- <link rel="stylesheet" href="css/style.css"/> -->
<head>

<title>Welcome</title>

</head>
<body>
<%= yield %>
</body>
</html>