html {
  font-family: Helvetica, sans-serif;
  font-weight: light;
  -webkit-font-smoothing: antialiased;
}
    
html {
  background-color: white;
}

form {
  position: absolute;
  top:280px;
  left:60px;
  display: inline-block;
  max-width: 700px;
  min-width: 500px;
  box-sizing: border-box;
  padding: 30px 25px;
  background-color: white;
  border-radius: 40px;
  margin: 40px 0;
  left: 50%;
  -webkit-transform: translate( -50% , 0 );
}
    
  h1 {
    color: rgba(40,119,176,1);
    font-weight: 100;
    letter-spacing: 0.01em;
    margin-left: 15px;
    margin-bottom: 35px;
    text-transform: uppercase;
  }
      
  button {
    transition: all, 0.25s, cubic-bezier(.53,.01,.35,1.5);
    margin-top: 35px;
    background-color: white;
    border: 1px solid rgba(40,119,176,1);
    line-height: 0;
    font-size: 17px;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px 15px;
    border-radius: 60px;
    color: rgba(40,119,176,1);
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
  }
    
    button:hover {
      color:white;
      background-color: rgba(40,119,176,1);
    }

    button:focus {
      color:white;
      background-color: rgba(40,119,176,1);
    }
    
  .question {
    position: relative;
    padding: 10px 0;}
    
    .question:first-of-type {
      padding-top: 0;
    }
      
    .question:last-of-type{
      padding-bottom: 0;
      }
    label {
      transition: all, 0.25s, cubic-bezier(.53,.01,.35,1.5);
      transform-origin: left center;
      color: rgba(40,119,176,1);
      font-weight: 100;
      letter-spacing: 0.01em;
      font-size: 17px;
      box-sizing: border-box;
      padding: 10px 15px;
      display: block;
      position: absolute;
      margin-top: -40px;
      z-index: 2;
      pointer-events: none;
    }
      
    input[type="text"] {
      transition: all, 0.25s, cubic-bezier(.53,.01,.35,1.5);
      appearance: none;
      background-color: none;
      border: 1px solid rgba(40,119,176,1);
      line-height: 0;
      font-size: 17px;
      width: 100%;
      display: block;
      box-sizing: border-box;
      padding: 10px 15px;
      border-radius: 60px;
      color: rgba(40,119,176,1);
      font-weight: 100;
      letter-spacing: 0.01em;
      position: relative;
      z-index: 1;
      }
      input:focus {
        outline: none;
        background: rgba(40,119,176,1);
        color: white;
        margin-top: 30px;}
        
      input:valid {
        margin-top: 30px;
      }
          
      input:focus ~ label {
        -webkit-transform: translate( 0 , -35px );
      }
      
      input:valid ~ label {
        text-transform: uppercase;
        font-style: italic;
        -webkit-transform: translate( 5px , -35px ) ;
        -webkit-transform: scale(0.6));}

}
